{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div style="margin-top:30px" class="row">
    <div class="col-md-5 offset-3">
        <form method="post" action="/login">
            <div class="form-group">
                <label for="publickey">Public Key</label>
                <input name="publickey" type="text" class="form-control" id="publickey" placeholder="Public Key">
            </div>
      
            <button type="submit" class="btn btn-primary mb-2">Login</button>
            <button type="button" class="btn btn-secondary mb-2" id="passless">Passwordless Login</button>
            <a href="{{ url_for('register') }}">
            <button type="button" class="btn btn-primary mb-2" role="button">New User</button>
        </a>
        </form>
    </div>
</div>
<script type="text/javascript">
    var nonce = "";
    var publicAddress;
    var web3;
    var getAcc = async function () {
    
    try {
        web3 = new Web3(window.ethereum);

      const accounts = await window.ethereum.send(
        "eth_requestAccounts"
      );
      publicAddress = accounts.result[0];
 
     } catch(error){
         alert("Please Install Metamask Wallet");
         console.log('Error',error);
         
     }
    }
   

    handleSignMessage = ({publicAddress, nonce }) => {
    return new Promise((resolve, reject) =>
    web3.eth.personal.sign(`Singning one-time nonce:${nonce}`, publicAddress,
        (err, signature) => {
          if (err) return reject(err);
          return resolve({ publicAddress, signature });
        }
      )
    );
  };

  handleAuth = ({ publicAddress, signature }) =>  {
  fetch('/auth',{
      body: JSON.stringify({ publicAddress, signature }),
      headers: {
        'Content-Type': 'application/json'
      },
      method: 'POST'
    }).then(response => {response.json();
      handleRedirect(response.url)
  });
  };

  handleRedirect = (url) => {
    if (url)
      window.location.replace(url);

  }

  
    async function main() {
    try {
        await getAcc();

        fetch('/nonce')
      .then(function (response) {
          return response.json();
      }).then(function (text) {
          console.log(text.Message); 
          nonce = text.Message;
          return {publicAddress, nonce}

      }).then(this.handleSignMessage)
      .then(this.handleAuth);

 ock4real
 iR
    }catch (err) {
        console.log("There was an error fetching the data: \n", error)
    }};

    var button = document.getElementById('passless');

    button.onclick = function() {
    main();}
    </script>
{% endblock %}