{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div style="margin-top:30px" class="row">
    <div class="col-md-5 offset-3">
        <form method="post" action="/register">
            <div class="form-group">
              <h1>Register</h1>
            
                  <img src="{{ qrcode('Do you speak QR?')  }}">
            </div>
            <input name="address" class="form-control" id="address" type="hidden">
            <button type="submit" class="btn btn-primary mb-2">Register</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    var address = "";
    var getAcc = async function () {
  var web3 = new Web3(window.ethereum);
    try {
      const accounts = await window.ethereum.send(
        "eth_requestAccounts"
      );
       address = accounts.result[0];
       
       var inputF = document.getElementById("address");
  
        inputF.value = address;
     } catch(error){
         alert("Please Install Metamask Wallet");
         console.log('Error',error);
         
     }
    }
   getAcc();

    
    
    </script>
{% endblock %}