{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div style="margin-top:30px" class="row">
    <div class="col-md-5 offset-3">
        <form method="post" action="/register">
            <div class="form-group">
              <h1>Register</h1>
            
                  <img src="{{ qrcode('Do you speak QR?')  }}">
            </div>
      
            <button type="submit" class="btn btn-primary mb-2">Register</button>
        </form>
    </div>
</div>
{% endblock %}